<div class="contents row">
   <% @customers.each do |customer| %>
<div class="content_post" >
 <div class="more">
 
  </div>
 <span class="name"> 
<%= customer.name %>
<%= customer.phone %>
</span>

 <li>
  <%= link_to '編集する', edit_customer_path(customer.id) %>
  </li>

    </div>
  <% end %>
</div>





</div>