article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  font-size: 17px;
  color: #000000;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}

header {
  height: 120px;
  background-color: #d2eef0;
  padding: 10px 0;
  display: flex;
  
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}


